.dashboard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dashboard__widgets__container {
    display: flex;
    margin-left: 13px;
}

.dashboard__widget {
    width: 320px;
    height: 250px;
    /* border: 1px solid lightgray; */
    /* border-radius: 10px; */
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}